/* * {
    border: 1px solid black;
} */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* sets background img */
#background-img {
    background-image: url('https://images.pexels.com/photos/934070/pexels-photo-934070.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    height: 98%;
    width: 100%;
    
}
/* sets background img end */

/* navbar css beginning */
#first-section-nav {
    width: 100%;
}
#heading {
    font-size: 15px;
    font: arial;
}
#nav-ul {
    list-style: none;
    float: right;
    display: flex;
    border-left: 1.5px solid rgb(2, 103, 150);
}
#logo {
    float: left;
    color: rgb(2, 103, 150);
    border: 2px solid rgb(1, 67, 97);
    font-weight: bolder;
    margin: 10px 40px;
    padding: 10px 15px;
    border-radius: 50px;
}
#logo p {
    margin: 0;
    font-size: 15px;
}
#nav-ul li {
    margin: 0;
    padding: 5px 10px;
    border: 2px solid rgb(2, 103, 150);
    margin-right: 15px;
    display: inline-block;
}
.link {
    text-decoration: none;
    color: black;
}
/* navbar css end */


/* intro to home page css beginning */
#second-section-intro {
    display: flex;
    justify-content: center;
    width: 100%;
}
#intro-heading {
    border-right: 1px solid white;
    font-size: 50px;
    padding: 0px 10px;
    color: rgb(2, 103,150);
    margin-top: 10%;
}
#intro-text {
    width: 20%;
    margin: 10px 0px 0px 20px;
    padding: 0px 10px;
    font-size: 30px;
    color: white;
    margin-top: 10%;
}
#intro-text button {
    font-size: 15px;
    background: rgb(1, 67, 97);
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    color: white;
}
/* intro to home page css end */

/* CEO section css beginning */
#third-section-CEO {
    background: rgb(1, 67, 97);
    color: white;
    font-size: 20px;
}
#CEO-img {
    display: inline-block;
    padding-left: 500px;
    padding-top: 50px;
    padding-bottom: 35px;
}
#CEO-img img {
    border: 1px solid white;
    border-radius: 150px;
}
#CEO-info {
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 60px;
}
hr {
    margin-top: 100px;
    width: 85%;
    border-color: rgb(2, 103, 150);
}
/* CEO section css end */

/* shopping options css beginning */
.link-options {
    text-decoration: none;
}
#shopping-h1{
    padding-top: 30px;
    text-align: center;
    color: rgb(1, 67, 97);
    font-size: 40px;
}
#fourth-section-shopping {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}
#fourth-section-shopping div {
    width: 33%;
    color: white;
}
.options h1 {
    font-size: 30px;
}
.options p {
    font-size: 20px;
}
.options {
    margin-right: 30px;
    height: 400px;
    border: 1px solid black;
}
#sports {
    background-image: url("https://images.pexels.com/photos/3621185/pexels-photo-3621185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=600&w=200");
    background-size: cover;
}
#casual {
    background-image: url("https://images.pexels.com/photos/934063/pexels-photo-934063.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    
}
#formal {
    background-image: url("https://images.pexels.com/photos/2254119/pexels-photo-2254119.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
}
.option-name-description {
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    background-color: rgba(0, 0, 0, .2);
    padding: 30px 40px;
}
.option-name-description:hover {
    transition: 1s;
    transform: scale(1.1);
}
/* shopping options css ending */